.settings_page_remote-data-blocks-settings {
	.components-snackbar-list {
		position: fixed;
		bottom: 30px;
		left: 160px;
		width: calc( 100% - 160px );
	}

	&.folded .components-snackbar-list {
		left: 36px;
		width: calc( 100% - 36px );
	}

	.components-snackbar {
		position: relative;
		left: 50%;
		transform: translateX( -50% );
	}

	.components-snackbar__icon {
		font-size: 15px;
		top: -3px;
		left: 0px;
	}
}
