<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
  bootstrap="tests/inc/bootstrap.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="Remote Data Blocks Test Suite">
      <directory>tests/inc/</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">inc</directory>
    </include>
  </source>
</phpunit>
