.data-source-form-modal {
	&.components-modal__frame {
		width: 90%;
		max-width: 1200px;
		height: 90%;
		max-height: 900px;
	}

	.components-modal__content {
		padding: 24px;
		display: flex;
		flex-direction: column;
	}

	&__select {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 32px;
	}

	&__title {
		font-size: 24px;
		margin-bottom: 24px;
	}
}