/* Admin settings */
.settings_page_remote-data-blocks-settings {

	/* WP default style overrides */
	#wpcontent {
		padding: 0;
	}

	#wpbody-content {
		padding-bottom: 0;
	}

	#wpwrap {
		background: rgb(255, 255, 255);
	}

	#wpfooter {
		display: none;
	}

	/* External Links */
	.components-external-link__contents,
	.components-base-control__help a {
		text-decoration: none;
	}

	/* Snackbar notice */
	.components-snackbar-list {
		position: fixed;
		bottom: 30px;
		left: 160px;
		width: calc(100% - 160px);
	}

	&.folded .components-snackbar-list {
		left: 36px;
		width: calc(100% - 36px);
	}

	.components-snackbar {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.components-snackbar__icon {
		font-size: 15px;
		top: -3px;
		left: 0;
	}


	/* Add new source menu */
	.components-menu-group {

		div {
			display: flex;
			width: 368px;
			align-items: flex-start;
			align-content: flex-start;
			gap: 8px;
			padding: 8px 8px 16px 8px;
			flex-wrap: wrap;

			.components-button.has-icon.has-text {
				display: flex;
				width: 112px;
				padding: var(--Spacing-Spacing-Base, 16px);
				flex-direction: column;
				align-items: center;
				gap: 12px;

				&:hover {
					color: unset;
					background-color: #dff4ff;

				}

				.components-menu-item__item {
					min-width: unset;
					margin-right: unset;
				}
			}
		}
	}

	.rdb-settings-page {

		/* No sources found placeholder */
		.components-placeholder {
			align-items: center;
			justify-content: center;
			gap: 6px;
			box-shadow: none;
			min-height: 250px;
			border-radius: 8px;
		}

		.components-placeholder__label {
			flex-direction: column;

			svg {
				width: 40px;
				height: 40px;
				margin-bottom: 12px;
			}
		}

		.components-placeholder__instructions {
			color: #757575;
		}

		/* Header */
		.rdb-settings-page_header {
			display: grid;
			padding: 24px 48px;
			border-bottom: 1px solid var(--Alias-border-border-secondary, #ebebeb);

			.rdb-settings-page_header-return {
				justify-content: flex-start;
			}

			p {
				margin-bottom: 0;
			}


			.rdb-settings-page_add-data-source-dropdown {
				grid-area: 1 / 2 / span 1 / span 1;
				justify-self: end;
			}
		}
	}

}

