@import url( ./../styles/components/components.scss );

.settings_page_remote-data-blocks-settings {

	#wpcontent {
		padding: 0;
	}

	#wpwrap {
		background: rgb(255, 255, 255);
	}

	.components-external-link__contents {
		text-decoration: none;
	}

	.rdb-settings-page_header {
		display: grid;
		padding: 24px 48px;
		border-bottom: 1px solid var(--Alias-border-border-secondary, #ebebeb);
	}

	.rdb-settings-page_header-return {
		justify-content: flex-start;
	}

	h1 {
		margin-bottom: 0;
	}

	.rdb-settings-page_add-data-source-dropdown {
		grid-area: 1 / 2 / span 1 / span 1;
		justify-self: end;
	}

	.page-content {

		> *:not(:first-child) {
			margin-top: 18px;
		}
	}
}

